{% extends 'admin.html' %}

{% block title %} {{ _('Pages') }} {% endblock %}

{% block content %}
    <div class="text-center mt-3">
        <h1>{{ _('The pages') }}</h1>
    </div>
    <a class="btn btn-success my-2" href="{{ url_for('admin_pages_create') }}">{{ _('Create') }}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Navigation label') }}</th>
                <th>{{ _('Slug') }}</th>
                <th>{{ _('Published') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.nav_label }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.published and _('Yes') or _('No') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin_pages_edit', page_id=page.id) }}">
                        {{ _('Edit') }}
                    </a>
                    <form action="{{ url_for('admin_pages_delete', page_id=page.id) }}" method="POST" class="d-inline">
                        <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}