{% extends 'admin.html' %}

{% block title %}{{ _('Tags') }}{% endblock %}

{% block content %}
<div class="text-center mt-3">
    <h1>{{ _('The tags') }}</h1>
</div>
<a class="btn btn-success my-2" href="{{ url_for('admin_tags_create') }}">{{ _('Create') }}</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ _('ID') }}</th>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('admin_tags_edit', tag_id=tag.id) }}">
                    {{ _('Edit') }}
                </a>
                <form action="{{ url_for('admin_tags_delete', tag_id=tag.id) }}" method="POST" class="d-inline">
                    <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}