{% extends 'admin.html' %}

{% block title %}Tags{% endblock %}

{% block admin_content %}
<div class="text-center">
    <h1 class="mt-5">Les tags</h1>
    <div class="m-5" style="display: flex; justify-content: center;">
        <form action="" method="POST" class="form-inline">
            <input type="text" name="new_tag" placeholder="Nouveau tag" class="form-control">
            <input type="submit" class="btn btn-success" value="Créer">
        </form>
    </div>
    <table class="table table-striped col-md-6 col-lg-4 mx-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <button type="button" class="open-editTagDialog btn btn-primary" data-toggle="modal" 
                                data-target="#edit-modal" data-id="{{ tag.id }}" data-name="{{ tag.name }}">
                        Modifer
                    </button>
                    <form action="{{ url_for('tag_all') }}" method="POST" class="d-inline">
                        <input type="hidden" name="delete" value="{{ tag.id }}">
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modifier un tag</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input id="input_tag_id" type="hidden" name="tag_id" value="">
                    <input id="input_tag_name" type="text" name="new_tag_name" class="form-control w-50 mx-auto" value="">
                </div>
                <div class="modal-footer">
                    <button id="button_edit_tag" type="button" class="btn btn-success" data-dismiss="modal">Valider</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}