{% extends 'admin.html' %}

{% block title %}Pages{% endblock %}

{% block admin_content %}
    <div class="text-center mt-3">
        <h1>Les pages</h1>
    </div>
    <a class="btn btn-success my-2" href="{{ url_for('admin_pages_create') }}">Créer</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Menu</th>
                <th>Slug</th>
                <th>Publié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.nav_label }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.published and 'Oui' or 'Non' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin_pages_edit', page_id=page.id) }}">
                        Modifer
                    </a>
                    <form action="{{ url_for('admin_pages_delete', page_id=page.id) }}" method="POST" class="d-inline">
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}