{% extends 'admin.html' %}

{% block title %}Créer un article{% endblock %}

{% block content %}
<div class="col-md-10 mx-auto m-3">
    <div class="text-center">
        <h1>Créer un article</h1>
    </div>
    <form action="{{ url_for('admin_posts_create') }}" method="POST" class="form">
        {{ form.csrf_token }}
        {{ form.title(class="form-control", placeholder="Titre") }}
        {{ form.slug(class="form-control my-2", placeholder="Slug") }}
        {{ form.tags(class="form-control", placeholder="Tags") }}
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                {{ form.published(class="form-check-input") }}
                Publier
            </label>
        </div>
        {{ form.abstract_image(class="form-control my-2", placeholder="Abstract image") }}
        {{ form.abstract(class="form-control my-2", placeholder="Abstract text") }}
        {{ form.content(id="editor") }}
        {{ form.submit(class="btn btn-success mt-3") }}
    </form>
</div>
<script>
    CKEDITOR.replace('editor', {
        language: 'fr',
        extraPlugins: 'justify',
    });
</script>
{% endblock %}