{% extends 'admin.html' %}

{% block title %}Créer une page{% endblock %}

{% block content %}
<div class="col-md-10 mx-auto m-3">
    <div class="text-center">
        <h1>Créer une page</h1>
    </div>
    <form action="{{ url_for('admin_pages_create') }}" method="POST" class="form">
        <input type="text" name="title" placeholder="Titre" class="form-control">
        <input type="text" name="slug" placeholder="Slug" class="form-control my-2">
        <input type="text" name="nav_label" placeholder="Etiquette menu" class="form-control">
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                <input type="checkbox" name="published" id="published" checked class="form-check-input">
                Publier
            </label>
        </div>
        <textarea name="content" hidden></textarea>
        <div id="ace_editor" name="content" class="w-100" style="height: 400px;"></div>
        <input type="submit" class="btn btn-success mt-3" value="Créer">
    </form>
</div>
{% endblock %}