{% extends 'admin.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="text-center mt-3">
    <h1>Les articles</h1>
</div>
<a class="btn btn-success my-2" href="{{ url_for('admin_posts_create') }}">Créer</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Date création</th>
            <th>Auteur</th>
            <th>Publié</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.creation_date.strftime('%a %d %B %Y à %-Hh%M') }}</td>
            <td>{{ post.user.username }}</td>
            <td>{{ post.published and 'Oui' or 'Non' }}</td>
            <td>{{ post.tags_str }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('admin_posts_edit', post_id=post.id) }}">
                    Modifer
                </a>
                <form action="{{ url_for('admin_posts_delete', post_id=post.id) }}" method="POST" class="d-inline">
                    <input type="hidden" name="delete" value="{{ post.id }}">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}