{% extends 'admin.html' %}

{% block title %}Modifer un article{% endblock %}

{% block content %}
<div class="m-3">
    <div class="text-center">
        <h1>Modifer un article</h1>
    </div>
    <form action="{{ url_for('admin_posts_edit', post_id=post.id) }}" method="POST" class="form">
        <input type="text" name="title" placeholder="Titre" class="form-control" value="{{ post.title }}">
        <input type="text" name="slug" placeholder="Slug" class="form-control my-2" value="{{ post.slug }}">
        <input type="text" name="tags" placeholder="Tags" class="form-control" value="{{ post.tags_str }}" data-role="tagsinput">
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                <input type="checkbox" name="published" id="published" {% if post.published %}checked {% endif %}class="form-check-input">
                Publier
            </label>
        </div>
        <input type="text" name="abstract_image" placeholder="Abstract image" class="form-control my-2" value="{{ post.abstract_image }}">
        <textarea name="abstract" placeholder="Abstract text" class="form-control my-2" rows=4>{{ post.abstract }}</textarea>
        <textarea name="content" id="editor">{{ post.content }}</textarea>
        <input type="submit" class="btn btn-success mt-3" value="Enregistrer">
    </form>
</div>
<script>
    CKEDITOR.replace('editor', {
        language: 'fr',
        extraPlugins: 'justify',
    });
</script>
{% endblock %}