{% extends 'admin.html' %}

{% block title %}Modifier une page{% endblock %}

{% block admin_content %}
<div class="m-3 ">
    <div class="text-center">
        <h1>Modifier une page</h1>
    </div>
    <form action="{{ url_for('admin_pages_edit', page_id=page.id) }}" method="POST" class="form">
        <input type="text" name="title" placeholder="Titre" class="form-control" value="{{ page.title }}">
        <input type="text" name="nav_label" placeholder="Etiquette menu" class="form-control my-2" value="{{ page.nav_label }}">
        <input type="text" name="slug" placeholder="Slug" class="form-control" value="{{ page.slug }}">
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                <input type="checkbox" name="published" id="published" {% if page.published %}checked {% endif %}class="form-check-input">
                Publier
            </label>
        </div>
        <textarea name="content" id="editor">{{ page.content }}</textarea>
        <input type="submit" class="btn btn-success mt-3" value="Enregistrer">
    </form>
</div>
<script>
    CKEDITOR.replace('editor', {
        language: 'fr',
        extraPlugins: 'justify',
    });
</script>
{% endblock %}