{% extends 'admin.html' %}

{% block title %}{{ _('Create post') }}{% endblock %}

{% block content %}
<div class="col-md-10 mx-auto m-3">
    <div class="text-center mb-3">
        <h1>{{ _('Create post') }}</h1>
    </div>
    <form action="{{ url_for('admin_posts_create') }}" method="POST" class="form">
        {{ form.csrf_token }}
        {{ form.form_type(value="post_create_form") }}
        <div class="form-group row">
            {{ form.title.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
              {{ form.title(class="form-control") }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.slug.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
              {{ form.slug(class="form-control") }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.tags.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
              {{ form.tags(class="form-control") }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.abstract_image.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.abstract_image(class="form-control") }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.abstract.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.abstract(class="form-control") }}
            </div>
        </div>
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                {{ form.published(class="form-check-input") }}
                {{ form.published.label }}
            </label>
        </div>
        {{ form.content(id="editor") }}
        <div class="text-center">
            {{ form.submit(class="btn btn-success mt-3") }}
        </div>
    </form>
</div>
<script>
    CKEDITOR.replace('editor', {
        language: "{{ config.get_current_language() }}",
        extraPlugins: 'justify',
    });
</script>
{% endblock %}