{% extends 'admin.html' %}

{% block title %}Modfifer un tag{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-4 mx-auto m-3">
    <div class="text-center">
        <h1>Modifier un tag</h1>
    </div>
    <form action="{{ url_for('admin_tags_edit', tag_id=tag.id) }}" method="POST" class="form">
        {{ form.csrf_token }}
        <div class="form-group row">
            {{ form.name.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
              {{ form.name(class="form-control") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-success mt-3") }}
    </form>
</div>
{% endblock %}