{% extends 'base.html' %}

{% block title %} {{ _('Admin') }} {% endblock %}

{% block import_header_end %}
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-custom.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tagsinput.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block import_body_start %}
    <!-- Bootstrap and JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- CK editor 4 -->
    <script src="https://cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js"></script>
    <!-- Ace editor -->
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace/mode-html.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace/worker-html.js') }}"></script>
    <!-- custom -->
    <script src="{{ url_for('static', filename='js/tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


{% block base_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-light bg-primary p-0 pb-5" style="min-height: 100vh;">
            <div class="btn-group-vertical w-100">
                <h2 class="mt-5 mb-4 mx-auto">SimpleCMS</h2>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('admin_posts') }}">{{ _('Posts') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('admin_comments') }}">{{ _('Comments') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('admin_pages') }}">{{ _('Pages') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('admin_users') }}">{{ _('Users') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('admin_tags') }}">{{ _('Tags') }}</a>
                </button>
                <button type="button" class="btn btn-primary mt-5">
                    <a class="text-light" href="{{ url_for('admin_configuration') }}">{{ _('Configuration') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('index') }}">{{ _('Back to website') }}</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a class="text-light" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                </button>
            </div>
        </div>
        <div class="col-md-10">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show mt-2" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}