{% extends 'admin.html' %}

{% block title %}Modifier une page{% endblock %}

{% block content %}
<div class="m-3 ">
    <div class="text-center">
        <h1>Modifier une page</h1>
    </div>
    <form action="{{ url_for('admin_pages_edit', page_id=page.id) }}" method="POST" class="form">
        {{ form.csrf_token }}
        {{ form.title(class="form-control", placeholder="Titre") }}
        {{ form.slug(class="form-control my-2", placeholder="Slug") }}
        {{ form.nav_label(class="form-control", placeholder="Etiquette menu")}}
        <div class="form-check my-2">
            <label for="published" class="form-check-label">
                {{ form.published(class="form-check-input", id="published") }}
                Publier
            </label>
        </div>
        {{ form.content }}
        <div id="ace_editor" name="content" class="w-100" style="height: 400px;"></div>
        {{ form.submit(class="btn btn-success mt-3") }}
    </form>
</div>
{% endblock %}