{% extends 'admin.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="text-center mt-3">
    <h1>Les utilisateurs</h1>
</div>
<a class="btn btn-success my-2" href="{{ url_for('admin_users_create') }}">Créer</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('admin_users_edit', user_id=user.id) }}">
                    Modifer
                </a>
                <form action="{{ url_for('admin_users_delete', user_id=user.id) }}" method="POST" class="d-inline">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}