<!DOCTYPE html>
<html lang="{{ config_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{% block title %}{% endblock %}</title>
    
    {% block import_header_end %}{% endblock %}
</head>
<body>
    {% block import_body_start %}{% endblock %}
    
    {% block base_content %}{% endblock %}

    {% block import_body_end %}{% endblock %}
</body>
</html>